.custom-scroll::-webkit-scrollbar { width: 5px; }
.custom-scroll::-webkit-scrollbar-track { background: transparent; }
.custom-scroll::-webkit-scrollbar-thumb { background: rgba(var(--p), 0.2); border-radius: 10px; }
.custom-scroll::-webkit-scrollbar-thumb:hover { background: var(--p); }

.loading-waveform {
  mask-image: linear-gradient(to top, black, transparent);
}

/* Animación sutil para que las barras no salten */
.flex-1 {
  transition: height 0.1s ease-out;
}