<div class="max-w-4xl mx-auto space-y-6">
  <div class="flex justify-between items-center">
    <button routerLink="/" class="btn btn-ghost btn-sm gap-2">
      <i class="fas fa-arrow-left"></i> Volver
    </button>
    <div class="badge badge-outline gap-2">ID Registro: #{{ job().id }}</div>
  </div>

  @if (isLoading()) {
  <div class="flex justify-center p-20"><span class="loading loading-ring loading-lg"></span></div>
  } @else if (job()) {
  <div class="card bg-base-100 shadow-xl overflow-hidden">
    <div class="bg-primary p-1"></div>
    <div class="card-body">
      <div class="flex flex-col md:flex-row justify-between items-center gap-8 py-4">
        <div class="text-center md:text-left">
          <h3 class="text-sm uppercase opacity-50 font-bold">Origen</h3>
          <p class="text-2xl font-black">{{ job().city_source }}</p>
          <p class="text-xs italic">{{ job().source_company }}</p>
        </div>

        <div class="flex flex-col items-center flex-1">
          <span class="badge badge-primary  mb-2">{{ job().planned_distance }} KM</span>
          <div class="w-full flex items-center gap-2">
            <div class="h-0.5 bg-base-300 flex-1"></div>
            <i class="fas fa-truck-moving text-primary animate-pulse"></i>
            <div class="h-0.5 bg-base-300 flex-1"></div>
          </div>
        </div>

        <div class="text-center md:text-right">
          <h3 class="text-sm uppercase opacity-50 font-bold">Destino</h3>
          <p class="text-2xl font-black">{{ job().city_destination }}</p>
          <p class="text-xs italic">{{ job().destination_company }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div class="card bg-base-100 shadow-xl border border-base-300 md:col-span-1">
      <div class="card-body">
        <h2 class="card-title text-sm uppercase opacity-50">Detalles</h2>
        <div class="flex items-center gap-4 mt-2">
          <div class="p-3 bg-base-200 rounded-lg">
            <i class="fas fa-box-open text-2xl text-secondary"></i>
          </div>
          <div>
            <p class="font-bold text-lg">{{ job().truck_name }}</p>
            <p class="text-sm">{{job().truck_km}} Kms</p>
          </div>
        </div>

        <div class="flex items-center gap-4 mt-2">
          <div class="p-3 bg-base-200 rounded-lg">
            <i class="fas fa-box-open text-2xl text-secondary"></i>
          </div>
          <div>
            <p class="font-bold text-lg">{{ job().cargo_name }}</p>
            <p class="text-sm">{{ (job().cargo_mass_kg || 0) / 1000 }} Toneladas</p>
          </div>
        </div>
        <div class="divider"></div>
        <div class="space-y-2">
          <div class="flex justify-between text-sm">
            <span>Consumo:</span>
            <span class="">{{ job().fuel_comsumption }} L/100km</span>
          </div>
          <div class="flex justify-between text-sm">
            <span>Combustible:</span>
            <span class=" text-warning">{{ job().total_fuel_liters }} L</span>
          </div>
          <div class="flex justify-between text-sm">
            <span>Daño:</span>
            <span class=" text-error">{{ job().cargo_damage }} %</span>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-neutral text-neutral-content shadow-xl md:col-span-2">
      <div class="card-body">
        <h2 class="card-title text-sm uppercase opacity-50">Resumen Económico</h2>

        <div class="space-y-4 mt-4">
          <div class="flex justify-between items-center">
            <span class="flex items-center gap-2"><i class="fas fa-plus-circle text-success"></i> Pago del
              Contrato</span>
            <span class="text-xl font-semibold">+{{ job().job_income| number:'1.2-2' }}€</span>
          </div>


          <ul class="list bg-base-100 rounded-box shadow-md">
            <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Eventos</li>
            @for (event of job().events; track $index) {
            <li class="list-row flex items-center justify-between w-full">
              <div>
                <div>{{generateEventDescription(event.description)}}</div>
              </div>
              <span class="font-semibold">
                -{{ event.value | number:'1.2-2' }}€
              </span>
            </li>
            }
          </ul>

          <div class="flex justify-between items-center pt-2">
            <span class="text-lg font-bold">Beneficio Neto</span>
            <div class="text-3xl font-black text-success">
              {{ calculateJobIncome() | number:'1.2-2' }}€
            </div>
          </div>
        </div>

        <div class="card-actions justify-end mt-6">
          @if (job().company) {
          <div class="badge badge-primary gap-2 p-3">
            <i class="fas fa-building text-[10px]"></i>
            Empresa: {{ job().company!.name }}
          </div>
          } @else {
          <div class="badge badge-ghost opacity-50">Trabajo Autónomo</div>
          }
        </div>
      </div>
    </div>
  </div>

  <p class="text-center text-xs opacity-40 italic">
    Trabajo finalizado el {{ job().created_at | date:'fullDate' }} a las {{ job().created_at | date:'shortTime' }}
  </p>
  } @else {
  <div class="alert alert-warning">No se encontró el trabajo solicitado.</div>
  }
</div>