// .menu li a.active {
//   @apply bg-primary text-primary-content shadow-lg shadow-primary/20 scale-[1.02];
// }

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: hsl(var(--bc) / 0.1);
  border-radius: 10px;
}